.app-wrapper{
  margin-left: 15%;
display: grid;
width: 1200px !important;
grid-template-areas: 
"h h"
"n c";
grid-template-rows: 80px 1fr;
grid-template-columns: 2fr 10fr;
grid-gap: 10px;


}

.header img {
padding: 10px;
  width: 100px;
}


.header{  grid-area: h;
  background:  rgba(170, 41, 41, 0.568);
}
.nav{
  background:  rgba(43, 196, 38, 0.568);

  grid-area: n;
}
.contents{
  background:  rgba(212, 229, 245, 0.568);
  grid-area: c;
}
.back img{
  width: 100% !important;
  height: 250px;
}